<nav class="sidebar">
  <app-picture-perfil [user]="user"></app-picture-perfil>
  <div class="sidebar-icon_book">
    <img src="../../../../assets/book (1).png" alt="" srcset="" />
    <p>Cursos</p>
  </div>
  <ul>
    <ng-container *ngFor="let item of courses">
      <li (click)="onSelectClick(item.id)" >
        <a>{{ item.name }}</a>
      </li>
    </ng-container>

  </ul>
  <button class="sidebar-icon_perfil" (click)="onOpen()">
    <img src="../../../../assets/perfil_icon.png" alt="" srcset="" />
    <p>Perfil</p>
  </button>
</nav>
