nav {
  position: relative;
  top: 0;
  left: 0;
  right: 0;
  height: 70px;
  display: flex;
  -webkit-box-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  align-items: center;
  padding: 0 2rem;
  z-index: 999;
  background: rgba(7, 7, 7, 0.392);
  backdrop-filter: blur(0.5px);


  figure {
    width: 60px;
    img {
      width: 100%;
    }
  }
  ul {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    gap: 22px;
    li {
      list-style: none;
      a {
        display: flex;
        justify-content: center;
        align-items: center;
        color: var(--white-color);
        text-decoration: none;
        font-size: 15px;
        font-weight: 500;
        cursor: pointer;
      }
    }
  }
}
