<div class="discussion">
  <div class="image-perfil" style="background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg')"></div>
  <div>
    <h5 class="name-discussion">Ana Oliveira</h5>
    <p class="message">Estou com dúvidas em como criar um componente no Angular. Alguém pode me ajudar?</p>
    <span class="timer">42 min</span>
  </div>
</div>

<div class="discussion">
  <div class="image-perfil" style="background-image: url('https://randomuser.me/api/portraits/men/2.jpg')"></div>
  <div>
    <h5 class="name-discussion">Carlos Silva</h5>
    <p class="message">Alguém sabe como resolver o erro de "Module not found" no Angular?</p>
    <span class="timer">1 hora</span>
  </div>
</div>

<div class="discussion">
  <div class="image-perfil" style="background-image: url('https://randomuser.me/api/portraits/women/3.jpg')"></div>
  <div>
    <h5 class="name-discussion">Mariana Santos</h5>
    <p class="message">Preciso de ajuda para integrar o Angular com o banco de dados MySQL. Alguma sugestão?</p>
    <span class="timer">2 horas</span>
  </div>
</div>

<div class="discussion">
  <div class="image-perfil" style="background-image: url('https://randomuser.me/api/portraits/men/4.jpg')"></div>
  <div>
    <h5 class="name-discussion">Pedro Santos</h5>
    <p class="message">Preciso de ajuda para implementar autenticação com JWT no meu aplicativo Angular. Alguém já fez isso antes?</p>
    <span class="timer">3 horas</span>
  </div>
</div>
