<div class="discussion">
  <figure>
    <img src="https://randomuser.me/api/portraits/women/1.jpg" alt="" srcset="">
  </figure>
  <div>
    <h5 class="name-discussion">Ana Oliveira</h5>
    <p class="message">Estou com dúvidas em como criar um componente no Angular. Alguém pode me ajudar?</p>
    <span class="timer">42 min</span>
  </div>
</div>
<div class="discussion">
  <figure>
    <img src="https://randomuser.me/api/portraits/men/2.jpg" alt="" srcset="">
  </figure>
  <div>
    <h5 class="name-discussion">Pedro Santos</h5>
    <p class="message">Preciso de ajuda para implementar autenticação com JWT no meu aplicativo Angular. Alguém já fez isso antes?</p>
    <span class="timer">42 min</span>
  </div>
</div>
<div class="discussion">
  <figure>
    <img src="https://randomuser.me/api/portraits/women/3.jpg" alt="" srcset="">
  </figure>
  <div>
    <h5 class="name-discussion">Maria Silva</h5>
    <p class="message">Alguém sabe como resolver o problema de CORS no Angular?</p>
    <span class="timer">42 min</span>
  </div>
</div>
<div class="discussion">
  <figure>
    <img src="https://randomuser.me/api/portraits/men/4.jpg" alt="" srcset="">
  </figure>
  <div>
    <h5 class="name-discussion">João Oliveira</h5>
    <p class="message">Preciso de ajuda para implementar uma animação com o GSAP no meu projeto Angular.</p>
    <span class="timer">42 min</span>
  </div>
</div>



