.container-perfil {
  position: sticky;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100%;
  padding: 20px 0;
  .first-container {
    padding: 25px;
  }
  .nav-col {
    display: flex;
    flex-direction: column;
    align-items: start;
    background-color: var(--white-color);
    padding: 24px;
    border-radius: 10px;
    position: sticky;
    width: 100%;
    height: 100vh;
    top: 10px;
    button {
      padding: 5px;
      border-radius: 10px;
      background-color: var(--btn-color);
      color: var(--white-color);
      width: 100%;
      border: none;
      margin-top: 15px;
      cursor: pointer;
    }
  }
}
