.container-perfil {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #ffffff;
  width: 300px;
  height: 100vh;
  padding: 20px 0;
  figure {
    border: 0.5px solid var(--btn-color);
    width: 100px;
    height: 100px;
    border-radius: 25%;
    display: flex;
    background-color: var(--white-color);
    align-items: center;
    justify-content: center;
    overflow: hidden;
    img {
      width: 50%;
      object-fit: cover;
    }
  }
  div {
    padding: 15px;
    width: 100%;
    margin: 25px 0;
    color: var(--btn-color);
    button {
      padding: 5px;
      border-radius: 10px;
      background-color: var(--btn-color);
      color: var(--white-color);
      width: 100%;
      border: none;
      margin-top: 15px;
      cursor: pointer;
    }
  }
}
