.container-perfil {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #ffffff;
  width: 100%;
  height: 100vh;
  padding: 20px 0;
  .first-container{
    padding: 25px;
  }
  div {
    width: 100%;
    color: var(--btn-color);
    button {
      padding: 5px;
      border-radius: 10px;
      background-color: var(--btn-color);
      color: var(--white-color);
      width: 100%;
      border: none;
      margin-top: 15px;
      cursor: pointer;
    }
  }
}
