main {
  display: grid;
  grid-template-rows: auto 1fr auto;

}

.container {
  display: grid;
  grid-template-columns:  300px 1fr  400px ;
  grid-gap: 60px;
  background-color: var(--background-light-color);
}

.dashboard-middle{
  display: grid;
  grid-gap: 60px;
  margin: 25px;
}
