<div class="container">
  <form>
    <div>
      <h2>Bem-vindo(a) a <strong>MJVscholl</strong></h2>
    </div>

    <div>
      <label for="email">E-mail:</label>
      <input
        [(ngModel)]="email"
        type="email"
        id="email"
        name="email"
        required
      />
      <p class="error" *ngIf="error">*{{error}}</p>
    </div>

    <div>
      <label for="password">Senha:</label>
      <input
        [(ngModel)]="password"
        type="password"
        id="password"
        name="password"
        required
      />
    </div>

    <div>
      <button (click)="login()" type="submit">Login</button>
    </div>

    <div>
      <p>
        Já tem uma conta? Ainda não está no MjvSchool? <a href="/register">Crie uma conta.</a>
      </p>
    </div>
  </form>
</div>
