main {
  display: flex;
  flex-direction: column;
  min-height: 100vh;

}

app-login-form {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: url("/assets/background.svg");
}






