.toast {
  position: fixed;
  top: 20px;
  left: 20px;
  z-index: 9999;
  max-width: 450px;
}

.toast-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  color: #fff;
  border-radius: 8px;
}

.toast-header .close {
  color: #fff;
  opacity: .8;
  font-size: 16px;
  font-weight: 700;
  line-height: 1;
  text-shadow: 0 1px 0 #fff;
  background-color: transparent;
  border: 0;
}

.toast-header .close:hover {
  color: #fff;
  opacity: 1;
  text-decoration: none;
}

.toast-body {
  padding: .75rem;
  background-color: #f8f9fa;
  border-radius: 8px;
}
