.container {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

  form {
    max-width: 500px;
  }
}

@media screen and (max-width: 600px) {
  .container {
    height: 100%;
    form {
      height: 100%;
      max-width: 100%;
      border-radius: 0;
      justify-content: center;
    }
  }
}
