app-home-main {
  flex: 1;
  display: flex;
  flex-direction: column;
  background: url("/assets/background.svg");
}

main {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
