.container {
  display: grid;
  grid-template-rows: auto 1fr auto;
  height: 100vh;
}

main{
  background-color: aliceblue;
  display: flex;
}

app-course-content
{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  background-color: aqua;

}
