.container
{
  cursor: pointer;
  display: flex;
  font-size:15px;
  height:50px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
  color: var(--gray-color);
  &:hover {
    background: var(--gray-color);
    color: var(--white-color);
  }
  div{
    width: 260px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
