html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  box-sizing: border-box;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

ol,
ul {
  list-style: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

body {
  background: linear-gradient(270deg, #7039f2, #4260ad, #9b04f7);
  background-size: 800% 800%;
  -webkit-animation: Animationgrad 42s ease infinite;
  -moz-animation: Animationgrad 42s ease infinite;
  animation: Animationgrad 42s ease infinite;
  min-height: 100vh;
}

* {
  font-family: "Poppins", sans-serif;
  line-height: 20px;
}

:root {
  --gray-color: rgb(83, 84, 85);
  --white-color: rgb(255, 255, 255);
  --yellow-color: #fbfbfb;
  --purple-color: #7039f2;
  --black-color: #393f70;
  --error-color: #f2396d;
  --btn-color: #442992;
  --shadow-primary: rgba(11, 43, 158, 0.15) 0px 6px 20px -6px;
  --wp--preset--color--black: #000000;
  --color--cyan-bluish-gray: #abb8c3;
  --color--white: #ffffff;
  --color--pale-pink: #f78da7;
  --color--vivid-red: #cf2e2e;
  --color--luminous-vivid-orange: #ff6900;
  --color--luminous-vivid-amber: #fcb900;
  --color--light-green-cyan: #7bdcb5;
  --color--vivid-green-cyan: #00d084;
  --color--pale-cyan-blue: #8ed1fc;
  --color--vivid-cyan-blue: #0693e3;
  --color--vivid-purple: #9b51e0;
  --size--small: 13px;
  --size--medium: 20px;
  --size--large: 36px;
  --size--x-large: 42px;
}

button,
a {
  cursor: pointer;
}

.form-default {
  display: flex;
  max-width: 650px;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  margin: 0 auto;
  font-size: 14px;
  padding: 2rem;
  border-radius: 25px;
  gap: 22px;
  background-color: var(--white-color);
  color: var(--gray-color);
  box-shadow: var(--shadow-primary);

  & > div {
    display: flex;
    flex-wrap: wrap;
    column-gap: 1rem;
    row-gap: 15px;
    justify-content: space-between;

    label {
      color: rgb(0, 105, 255);
      font-size: 1rem;
      text-transform: lowercase;
    }

    h2 {
      color: #031b4e;
      font-size: 36px;
      font-style: normal;
      font-weight: 700;
      letter-spacing: 0;
      line-height: 32px;
      text-align: left;
    }

    button {
      box-sizing: border-box;
      max-width: 220px;
      width: 100%;
      border-radius: 8px;
      background-color: var(--btn-color);
      color: var(--white-color);
      margin: 22px auto 10px;
      border: none;
      padding: 0 10px;
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 15px;
      font-weight: 500;
      height: 35px;
      &:hover {
        background: none;
        border: 2px solid var(--btn-color);
        color: var(--btn-color);
      }
      &:disabled {
        background-color: #f1f1f1;
        color: #888;
      }
      &:disabled:hover {
        background-color: #f1f1f1;
        color: #888;
        border: none;
      }
    }

    div {
      width: 100%;
      display: flex;
      flex-direction: column;

      input {
        margin-top: 10px;
        padding: 10px 15px;
        outline: none;
        border: 1px solid rgb(135, 148, 176);
        border-radius: 8px;
        background: rgb(255, 255, 255);
        box-sizing: border-box;
      }
    }
  }

  .container {
    background-image: url("/assets/background.svg");
  }
  .container-title {
    width: 100%;
    justify-content: flex-start;
  }
}
.container-submit {
  justify-content: center;
  max-width: 250px;
  margin: 0 auto;
  width: 100%;
  p {
    margin: 10px 0;
    width: 100%;
    text-align: center;
    font-size: 1rem;
    a {
      color: rgb(0, 105, 255);
      text-transform: lowercase;
      text-decoration: none;
      font-weight: 600;
    }
  }
}

.error {
  width: 100%;
  text-align: left;
  margin: 0;
  color: rgb(255, 58, 46);
  font-size: 10px;
}

.btn-cancel {
  background-color: var(--error-color);
  &:hover {
    background: none;
    border: 2px solid var(--error-color);
    color: var(--error-color);
  }
}

.btn-progress {
  background-color: var(--color--vivid-green-cyan);
  &:hover {
    background: none;
    border: 2px solid var(--color--vivid-green-cyan);
    color: var(--color--vivid-green-cyan);
  }
}
.btn-cancel,
.btn-progress {
  box-sizing: border-box;
  max-width: 220px;
  width: 100%;
  border-radius: 8px;
  color: var(--white-color);
  border: none;
  padding: 0 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 15px;
  font-weight: 500;
  height: 35px;
  &:disabled {
    background-color: #f1f1f1;
    color: #888;
  }
  &:disabled:hover {
    background-color: #f1f1f1;
    color: #888;
    border: none;
  }
}
@-webkit-keyframes Animationgrad {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}

@-moz-keyframes Animationgrad {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}

@keyframes Animationgrad {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}
