<div>
  <h2 class="primary-title">Escolha um curso</h2>
</div>

<app-catalog-list *ngIf="courses$ | async">
  <ng-container *ngFor="let item of courses$ | async; let i = index">
    <app-catalog-item
      (click)="onClick(item.id)"
      [styles]="
        selects.includes(item.id) || (coursesUser$ | async)?.includes(item.id)
          ? 'selected'
          : ''
      "
    >
      {{ item.name }}
    </app-catalog-item>
  </ng-container>
</app-catalog-list>

<div class="main-footer">
  <button (click)="onSubmit()" class="button-secundary">
    <img src="/assets/AngleUp.svg" alt="" srcset="" />
  </button>
</div>
